node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
.idea/.gitignore
.idea/dasreda_tests.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/vcs.xml
playwright-report
test-results
